<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="terrain_mapping_rover">
  
  <!-- ===================================================================== -->
  <!-- XACRO ARGUMENTS - Can be overridden from launch file                  -->
  <!-- ===================================================================== -->
  
  <xacro:arg name="camera_x" default="0.135"/>
  <xacro:arg name="camera_y" default="-0.0275"/>
  <xacro:arg name="camera_z" default="0.081"/>
  <xacro:arg name="camera_roll" default="0.0"/>
  <xacro:arg name="camera_pitch" default="-0.2751"/>
  <xacro:arg name="camera_yaw" default="0.0"/>
  
  <xacro:arg name="tof_x" default="0.135"/>
  <xacro:arg name="tof_y" default="0.014"/>
  <xacro: arg name="tof_z" default="0.081"/>
  <xacro:arg name="tof_roll" default="0.0"/>
  <xacro:arg name="tof_pitch" default="-0.2751"/>
  <xacro:arg name="tof_yaw" default="0.0"/>
  
  <xacro:arg name="imu_x" default="0.0"/>
  <xacro:arg name="imu_y" default="0.0"/>
  <xacro:arg name="imu_z" default="0.045"/>
  <xacro: arg name="imu_roll" default="0.0"/>
  <xacro:arg name="imu_pitch" default="0.0"/>
  <xacro:arg name="imu_yaw" default="0.0"/>
  
  <!-- Convert arguments to properties -->
  <xacro: property name="camera_x" value="$(arg camera_x)"/>
  <xacro:property name="camera_y" value="$(arg camera_y)"/>
  <xacro:property name="camera_z" value="$(arg camera_z)"/>
  <xacro:property name="camera_roll" value="$(arg camera_roll)"/>
  <xacro:property name="camera_pitch" value="$(arg camera_pitch)"/>
  <xacro:property name="camera_yaw" value="$(arg camera_yaw)"/>
  
  <xacro:property name="tof_x" value="$(arg tof_x)"/>
  <xacro:property name="tof_y" value="$(arg tof_y)"/>
  <xacro: property name="tof_z" value="$(arg tof_z)"/>
  <xacro:property name="tof_roll" value="$(arg tof_roll)"/>
  <xacro:property name="tof_pitch" value="$(arg tof_pitch)"/>
  <xacro:property name="tof_yaw" value="$(arg tof_yaw)"/>
  
  <xacro: property name="imu_x" value="$(arg imu_x)"/>
  <xacro:property name="imu_y" value="$(arg imu_y)"/>
  <xacro:property name="imu_z" value="$(arg imu_z)"/>
  <xacro:property name="imu_roll" value="$(arg imu_roll)"/>
  <xacro:property name="imu_pitch" value="$(arg imu_pitch)"/>
  <xacro:property name="imu_yaw" value="$(arg imu_yaw)"/>
  
  <!-- Include the main robot definition -->
  <xacro: include filename="$(find tmr_description)/urdf/rover_base.urdf.xacro"/>
  
</robot>